@mixin button ($font-size,$font-weight,$letter-spacing,$padding,$margin){
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing; 
    padding: $padding;
    margin:$margin;  
}
/* CONTACTO */
.contacto {
    & .info {

        & .ubicacion, .email, .telefono {
            margin-top: 40px;

            & i {
                color: $orange_aerospace;
                background-color: $alice_blue;
                /* background-color: rgb(179, 178, 178); */
                transition: all 0.3s ease-in-out; 
                width: 60px;
                height: 60px;
                display: inline-flex;
                align-items: center;
                justify-content:center;
                border-radius: 50%;
            }

            & .infoTitulo {
                padding: 0 0 0 40px;
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: 5px;
                color: $black_primary;
            }
            & .infoDescripcion {
                padding: 0 0 0 40px;
                margin-bottom: 0;
                font-size: 0.9em;
                color: $sonic_silver;
            }
            &:hover {
                i {
                    color: $white_primary;
                    background-color: $orange_aerospace;  
                }
            }
        }  
    }

    & .formulario {
        &__enviar {
            @include button (1em, 500, 2px, 0.4rem 3.20rem, 0 0.5rem);
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                background-color: $orange_aerospace;
                color: $white_primary;
            }
        }
        &__borrar {
            @include button (1em, 500, 2px, 0.4rem 3.20rem, 0 0.5rem);
            transition: all 0.3s;
            &:hover {
                transform: scale(1.1);
                background-color: $black_primary;
                color: $white_primary;
            }
        }
    }
}