/*FOOTER*/ 
.footerIndex {
    color: $black_primary;
    background-color: $white_primary;
}

footer {
    background-color: $black_secundary;
    color:$white_primary;

    .newsletter {
        .btnNewsletter {
            padding: 0.4rem 3.20rem;
            margin: 0 0.5rem;
            transition: all 0.3s;
            &:hover {
                color: $black_secundary;
                background-color: $orange_aerospace;
            }
        }
    }

    .textFooter {
        font-size: 1.5em;
        font-family: $fontLogo;

        .spanFooter {
            font-family: $fontPrincipal;
        }

    }

    .iconosRedes li a {
        background-color: $alice_blue;
        transition: all 0.1s ease-in-out; 
        width: 60px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content:center;
        border-radius: 50%;

        & .fa-facebook-f {
            color: rgb(59, 89, 152);
        }
        & .fa-twitter {
            color: rgb(29, 161, 242);
        }
        & .fa-instagram {
            color: rgb(225, 48, 108);
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}