/*FOOTER*/ 
.footerIndex {
    color: $black_primary;
    background-color: $white_primary;
}
footer {
    padding: 1.5rem 0;
    background-color: $black_secundary;
    color:$white_primary;

    .newsletter {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 0.4rem;

        &__titulo {
            font-size: calc(1.275rem + .3vw);
            padding-bottom: 0.5rem;
        }
        &__descripcion{
            font-size: 1rem;
            padding-bottom: 0.8rem;
        }
        &__form{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding: 0.5rem 0;
        }
        &__form-imput{
            width: 60%;
            // display: block;
            padding: 0.375rem 0.75rem;
            font-size: 1em;
            line-height: 1.5;
            color: $black_secundary;
            background-color: $white_primary;
            background-clip: padding-box;
            border: 1px solid $black_secundary;
            appearance: none;
            border-radius: 0.25rem;
            outline: none;
        }
        &__form-btn {
            height: 38px;
            font-family: $fontPrincipal;
            font-size: 1em;
            padding: 0.4rem 3.20rem;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                color: $black_secundary;
                background-color: $orange_aerospace;
            }
        }
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1.5rem;
        margin-top: 1rem;
        border-top: 1px solid;
        &__logo {
            font-size: 1.5em;
            font-family: $fontLogo;  
        }
        &__logo-span {
            font-family: $fontPrincipal;
        }
        &__terminos {
            display: flex;
            gap: 12px;
            li p {
                color: $sonic_silver;
                opacity: 0.5;
            }
        }
        &__redes {
            display: flex;
            gap: 12px;
            li a {
                background-color: $alice_blue;
                transition: all 0.3s ease-in-out; 
                width: 60px;
                height: 60px;
                display: inline-flex;
                align-items: center;
                justify-content:center;
                border-radius: 50%;
    
                & .fa-facebook-f {
                    color: rgb(59, 89, 152);
                }
                & .fa-twitter {
                    color: rgb(29, 161, 242);
                }
                & .fa-instagram {
                    color: rgb(225, 48, 108);
                }
        
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}