@mixin flex-row ($justify-content, $align-items, $flex-wrap) {
    display: flex;
    flex-direction: row;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin flex-column ($justify-content, $align-items, $flex-wrap) {
    display: flex;
    flex-direction: column;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin button ($font-size, $font-weight, $letter-spacing, $width, $padding, $margin) {
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    width: $width;
    padding: $padding;
    margin: $margin;
}

/* INICIO */
.main {
    height: 120vh;
    @include flex-column(center, center, nowrap);
    background-image: url(../image/object-principal.webp);
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        color: $white_primary;
        font-family: $fontLogo;
        font-size: 13.5vw;
        font-weight: 900;
        letter-spacing: 5px;
        z-index: 999;
    }
}

.nosotros {
    height: 80vh;
    @include flex-column (center, center, nowrap);

    &__text {
        width: 70%;
        font-size: calc(1em + 0.9vw);
        font-weight: 700;
        word-spacing: 1px;
        line-height: normal;
        padding: 2rem;
        margin: 2rem auto;
        text-align: center;
    }

    &__btn {

        margin: 6rem 0;
        text-align: center;
        @include flex-row (center, center, wrap);

        &-proyectos {
            @include button (1.2em, 500, 2px, 450px, 0.8rem 3.20rem, 1rem);
            transition: all 0.3s;

            &:hover {
                color: $black_primary;
                background-color: $white_primary;
            }
        }

        &-contacto {
            @include button (1.2em, 500, 2px, 450px, 0.8rem 3.20rem, 1rem);
            transition: all 0.3s;

            &:hover {
                color: $black_primary;
                background-color: $color_primary;
            }
        }
    }
}