*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: $white_primary;
    font-family: $fontPrincipal;
    font-size: 1em;
}
.marginSuperior {
    margin-top: 3.75rem;
}
ul {
    list-style-type: none
}
a {
    text-decoration: none;
    color: $white_primary;
}