/* SERVICIOS */
.servicios {   
    width: 80%;
    margin: auto;
    margin-top: 135px;
    
    & .servicios__boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & div {
            width: 33%;
            padding: 10px 55px 85px 55px;
            text-align: center;

            & .servicios__icons {
                width: 95px;
                transition: transform .6s;

                &:hover {
                    transform: scale(1.3);
                }
            }
            & .servicios__txt-title {
                font-size: 1.5em;
                font-weight: 800;
                text-align: center;
                padding: 0.5rem 0;
            }
            & .servicios__txt-desc {
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width:599px) {
    .servicios {
        & .servicios__boxes {
            & div {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .servicios {
        width: 100%;
        & .servicios__boxes {
            & .servicios__txt-desc {
                padding: 0 1rem;
            }

            & div {
                width: 100%;
            }
        }
    }
}