// PALETA DE COLORES
$white_primary:rgb(255, 255, 255);
$black_primary:rgb(0, 0, 0);
$black_secundary: rgb(20, 20, 20);
$orange_aerospace:rgb(255, 81, 0);
$sonic_silver:rgb(116, 116, 116);
$alice_blue: rgb(237, 242, 244);
$volt: #EEFF04;
$linkWater: #CED4DA;

// TIPOGRAFIAS
$fontPrincipal:  'Raleway', sans-serif ;
$fontLogo: 'Alfa Slab One', cursive ;
